body {
    height: 450px;
    
    background-image: url("../images/fni.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
  }


h3 {
    /*color: #091d55;*/
    color: white;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}


/* The side navigation menu */
.bg{
background-color:#022347 ;
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: #d4d8e4;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #e0e3e9;
    color: rgb(250, 249, 249);
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color:#edeff3;
    color: rgb(32, 30, 30);
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #e4e9ee;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
